
html{
font-family: 'Orbitron', sans-serif;
font-family: 'Titillium Web', sans-serif;
background-color: #222;
}

/*Footer */

footer{
color: white;
text-align: center;

}

footer a{
color: white;
}

footer a:hover{
text-decoration: none;


}
footer img:hover{
opacity: 0.4;


}

/* Avatar */
.avatar img{
width: auto;
height: auto;
border-radius: 50%;
border:4px solid #70b7b2;

}


/*CSS GRID LAYOUT*/




.media-scroller{
display: grid;
gap: var(--size-10);
grid-auto-flow: column;
grid-auto-columns: 21%;
overflow-x: auto;
overflow-y: hidden;
overscroll-behavior-inline: contain;
background-color: rgb(61, 61, 61);

}

.scroll{
scrollbar-color: #222;
background: rgb(61, 61, 61);
color: white;
scrollbar-color: #222;
}

.media-element img{
max-width: 100%;
background-color: #70b7b2;
border-radius: 2%;

    
}

.media-element img:hover{
    opacity: 0.4;
  
}



/*design*/

#grad {
    background-image: linear-gradient(to right, rgba(212,0,120), rgba(45,226,230));
  }


  body h3 {
    font-size: 3.1vw;
  }



li.func {
    display: inline-block;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: 0;
}

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: right;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgba(212,0,120);
}

.header-right {
  float: right;
}

.header input {
  color: rgba(212, 0, 120);
  margin-left: auto;
  background-color: rgb(56, 56, 56);
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

@media screen and (max-width: 730px) {
  .header a {
    float: right;
    display: block;
    text-align: left;
    margin: 0%;
  }
  
  .header {
    float: none;
  }
  input{
  float: right;
  display: none;
  text-align: left;
  width: 0%;
  margin: 0%;
  padding: 0px;
}
.logo img{
 max-width: 50%;
    height: auto;
    float: left;
    width: auto;


}

}

.header img{
   max-width: 50%;
    height: auto;
    float: left;


}

.banner img{
    width: 100%;
    height: auto;



}

.titletxt{
  background-color: rgba(212, 0, 120);
}
