
html{
font-family: 'Orbitron', sans-serif;
font-family: 'Titillium Web', sans-serif;
background-color: #222;
}

/*Footer */

footer{
color: white;
text-align: center;

}

footer a{
color: white;
}

footer a:hover{
text-decoration: none;


}
footer img:hover{
opacity: 0.4;


}

/* Avatar */
.avatar img{
width: auto;
height: auto;
border-radius: 50%;
border:4px solid #70b7b2;

}


/*CSS GRID LAYOUT*/




.media-scroller{
display: grid;
gap: var(--size-10);
grid-auto-flow: column;
grid-auto-columns: 21%;
overflow-x: auto;
overflow-y: hidden;
overscroll-behavior-inline: contain;
background-color: rgb(61, 61, 61);

}

.scroll{
scrollbar-color: #222;
background: rgb(61, 61, 61);
color: white;
scrollbar-color: #222;
}

.media-element img{
max-width: 100%;
background-color: #70b7b2;
border-radius: 2%;

    
}

.media-element img:hover{
    opacity: 0.4;
  
}



/*design*/

#grad {
    background-image: linear-gradient(to right, rgba(212,0,120), rgba(45,226,230));
  }


  body h3 {
    font-size: 3.1vw;
  }



li.func {
    display: inline-block;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: 0;
}

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: right;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgba(212,0,120);
}

.header-right {
  float: right;
}

.header input {
  color: rgba(212, 0, 120);
  margin-left: auto;
  background-color: rgb(56, 56, 56);
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

@media screen and (max-width: 730px) {
  .header a {
    float: right;
    display: block;
    text-align: left;
    margin: 0%;
  }
  
  .header {
    float: none;
  }
  input{
  float: right;
  display: none;
  text-align: left;
  width: 0%;
  margin: 0%;
  padding: 0px;
}
.logo img{
  float: right;
  position: relative;
  display: none;
  text-align: left;

}

}

.header img{
   max-width: 50%;
    height: auto;
    float: left;


}

.banner img{
    width: 100%;
    height: auto;



}

.titletxt{
  background-color: rgba(212, 0, 120);
}

hr {
  border: solid;
  border-width: 1px;
  border-color: rgb(147, 64, 180);

}
  
.info_icon {
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 3px;

}
  
.user_social_icon {
  float: right;
  margin-right: 5px;
  color: #fff;

}
  
.user_social_icon:hover {
  color: rgb(147, 64, 180) ;
  cursor: pointer;

}
  
#user_header {
  width: 1200px;
  height: 150px;
  margin: auto;
  padding: 10px;
  background: #222;
  padding: 10px;

}
  
#user {
  width: 700px;
  height: 100px;
  float: left;
    
}

#user_picture {
  float: left;
  background-color: #aaa;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
 
}

#user_info {
  width: 1200px;
  height: 135px;
  background-color: rgba(60, 60, 60, 0.4);
  padding-top: 10px;
}
  
.user_name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  color: #fff;
  letter-spacing: 1.75px;

}

#user_list {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #fff;
}

#user_list li {
  display: inline-block;
  letter-spacing: px;
}
  
/*barra*/ 
#bar_nav{
  margin-top: 5px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  padding:0  10px 10px  0;
  background:#d40078;
  width: 1200px;
}

ul.nav { 
	margin:0; 
	padding:0;

 
}
	
ul.nav li {
	list-style:none;	
	display:inline;
  
}

ul.nav li a {
  float: left;
	width: 150px;
	font-size:15px;
	background:#d40078;
	color:white;
	text-align: center;
	padding:0  10px 10px  0;
	text-decoration:none;
}
    

ul.nav a:hover{
	color:white;
	border-color:#000 #fafafa #fafafa #000;
  
}

/*perfil songs*/
.media_foto{
  margin: 2%;
}

.cards2{
  width: auto;
  height: auto;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 45px;
    
}

.cards2:hover{
  box-shadow: 2px 2px 10px rgb(0, 0, 0);

}

.imgbx img{
  width: auto;
  height: 300px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
    
}

.cards img{
width: 50%;


}
